@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Open+Sans:wght@400;700&display=swap');

/*Fonts & Color*/

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f8fc;
  color: rgb(80,80,80);
  text-align: center;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  color: #0f4c75;
  font-weight: lighter;
}

a {
  text-decoration: none;
  display: inline-block;
}

/*Customized style*/
.img-circle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    box-shadow: -4px 0 16px rgba(0,0,0,0.3);
}

.btn-blue {
  padding: 8px 32px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  margin: 16px;
  color: white;
  background-color: #3282b8;
}

.btn-blue:hover {
  background-color: #22587c;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  transition: 1s;
}

.card-white {
  background-color: white;
  width: 500px;
  margin: 48px auto;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

.list-inline {
    list-style: none;
    padding: 0;
}

.list-inline li {
  display: inline;
}

/*.list-inline a*/
.list-inline li a {
  font-size: 64px;
  margin: 8px;
  color: rgb(100,100,100);
}
